body {
    margin: 0;
    padding: 0;
}


/*
    ==========================
    HEADER
    ==========================
*/

.main-header {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 50px;
    position: absolute;
    height: 55px;
    width: 100%;
    z-index: 5;
}

.main-header h1 {
    display: inline;
    font: 30px 'Megrim', sans-serif;
    color: #2A3133;
}

.main-header nav {
    display: inline;
    margin-left: 160px;
}

.nav-options {
    box-sizing: border-box;
    font: 600 20px 'Open Sans Condensed', sans-serif;
    color: #2A3133;
    text-decoration: none;
    border-right: 1px solid #2A3133;
    position: relative;
    top: -2px;
    margin-right: -5px;
    padding: 2px 50px;
}

.nav-options:last-child {
    border: none;
}

.nav-options:hover {
    background: #2A3133;
    font-weight: 100;
    color: #fff;
    padding: 14px 50px;
}

.user {
    border-radius: 50%;
    height: 35px;
    float: right;
    cursor: pointer;
}

.wrapper {
    background-image: url(../images/machu-picchu.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 662px;
}

.destination {
    background: rgba(22, 46, 58, 0.5);
    height: 662px;
    overflow: hidden;
}

.destination-details {
    font: 25px 'Open Sans Condensed', sans-serif;
    color: #fff;
    position: absolute;
    bottom: 120px;
    left: 50px;
    width: 450px;
}

.destination-details h1 {
    font-weight: bold;
    margin: 0;
}

.destination-details h2 {
    font-weight: 100;
    margin: 0;
}

.destination-details i {
    color: rgb(230, 76, 101);
    cursor: pointer;
}

#friend-avatar {
    position: absolute;
    width: 500px;
    bottom: 30px;
    left: 50px;
}

#friend-avatar img {
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
}


/*
    ==========================
    MENU DESPLEGABLE
    ==========================
*/

.menu {
    background-color: rgba(0, 0, 0, 0.2);
    font: 100 15px 'Raleway', serif;
    box-sizing: border-box;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0px;
    min-width: 40px;
    height: 100%;
    padding: 230px 0;
    overflow: hidden;
}

.num {
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 0 16px;
}

.option {
    color: #9d9d9d;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 0 rgba(0, 0, 0, 1) inset;
    position: relative;
    height: 40px;
    width: 20px;
    display: block;
    padding-left: 20px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.roadtrip {
    display: block;
    width: 120px;
}

.option span:nth-child(2) {
    position: absolute;
    padding: 0 100px 0 0;
    left: 50px;
}

.option:hover {
    color: #fff;
    box-shadow: -200px 0 rgba(0, 0, 0, 1) inset;
}


/*
    ==========================
    PINBOARD
    ==========================
*/

#pinboard {
    height: 500px;
}

.pinboard-header {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px 50px;
    height: 100px;
}

.pinboard-header h2 {
    font: bold 20px 'Raleway', serif;
    color: #636869;
    position: relative;
    top: 25px;
    float: left;
    margin: 0;
}

.sort-by {
    font: bold 15px 'Raleway', serif;
    color: #B6C1C3;
    position: relative;
    top: 25px;
    height: 25px;
    float: right;
}

.sort-by span {
    margin-right: 50px;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.sort-by .videos {
    border: 2px solid #49CEC7;
    top: 3px;
}

.sort-by .images {
    border: 2px solid #E66E4C;
    top: 3px;
}

.sort-by .music {
    border: 2px solid #239FDB;
    top: 3px;
}

.pinboard-items {
    background-color: #EDEFF0;
    position: relative;
    min-height: 400px;
    padding: 30px;
}

.image-container,
.video-container {
    margin: 10px;
    background-color: #000;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    height: 300px;
}

.video-container video {
    margin-top: 70px;
    height: 169px;
}

.pinboard-items .fa-heart-o {
    font-size: 22px;
    color: #E64C65;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.pinboard-items .fa-trash {
    position: absolute;
    color: #fff;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.pinboard-items .videos {
    position: absolute;
    border: 2px solid #49CEC7;
    top: 15px;
    right: 15px;
    cursor: default;
}

.pinboard-items .images {
    border: 2px solid #E66E4C;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: default;
}


/*
    ==========================
    TOOLTIP
    ==========================
*/

.tooltip {
    background-color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 340px;
    width: 350px;
    height: 300px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip:after {
    content: "";
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    right: 75px;
    width: 15px;
    height: 15px;
}

.tooltip h2 {
    font-weight: bold;
    font-size: 15px;
    color: #96A1A6;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.tooltip .fa-pencil-square-o {
    font-size: 20px;
    color: #7C8990;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.tooltip .fa-pencil-square-o:hover {
    color: #333;
}

.tooltip h2 span {
    font-weight: 100;
    color: #B6C1C3;
}

.messages {
    width: 320px;
    height: 240px;
    margin: auto;
    overflow-x: hidden;
}

.unread {
    background: rgba(0, 0, 0, 0.05);
}

.unread:hover {
    background: rgba(0, 0, 0, 0.1);
}

.message {
    border-bottom: 1px solid #e0e6e7;
    color: #333;
    position: relative;
    width: 300px;
    height: 70px;
    padding-top: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.message:last-child {
    border: 0;
}

.message img {
    float: left;
    border-radius: 50%;
    width: 55px;
    margin-right: 15px;
}

.message h1 {
    font: bold 16px 'Open Sans Condensed', sans-serif;
}

.message span {
    display: block;
    font-size: 16px;
    height: 20%;
    top: 49%;
    left: 30%;
}

.hide {
    display: none;
}

.show {
    opacity: 1;
}