body {
    margin: 0;
    padding: 0;
}


/*
    ==========================
    HEADER
    ==========================
*/

.main-header {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 50px;
    position: absolute;
    height: 55px;
    width: 100%;
    z-index: 5;
}

.main-header h1 {
    display: inline;
    font: 30px 'Megrim', sans-serif;
    color: #2A3133;
}

.main-header nav {
    display: inline;
    margin-left: 160px;
}

.nav-options {
    box-sizing: border-box;
    font: 600 20px 'Open Sans Condensed', sans-serif;
    color: #2A3133;
    text-decoration: none;
    border-right: 1px solid #2A3133;
    position: relative;
    top: -2px;
    margin-right: -5px;
    padding: 2px 50px;
}

.nav-options:last-child {
    border: none;
}

.nav-options:hover {
    background: #2A3133;
    font-weight: 100;
    color: #fff;
    padding: 14px 50px;
}

.user {
    border-radius: 50%;
    height: 35px;
    float: right;
    cursor: pointer;
}

.wrapper {
    background-image: url(../images/machu-picchu.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 662px;
}

.destination {
    background: rgba(22, 46, 58, 0.5);
    height: 662px;
    overflow: hidden;
}

.destination-details {
    font: 25px 'Open Sans Condensed', sans-serif;
    color: #fff;
    position: absolute;
    bottom: 120px;
    left: 50px;
    width: 450px;
}

.destination-details h1 {
    font-weight: bold;
    margin: 0;
}

.destination-details h2 {
    font-weight: 100;
    margin: 0;
}

.destination-details i {
    color: rgb(230, 76, 101);
    cursor: pointer;
}

#friend-avatar {
    position: absolute;
    width: 500px;
    bottom: 30px;
    left: 50px;
}

#friend-avatar img {
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
}

#pinboard {
    height: 700px;
}


/*
    ==========================
    MENU DESPLEGABLE
    ==========================
*/

.menu {
    background-color: rgba(0, 0, 0, 0.2);
    font: 100 15px 'Raleway', serif;
    box-sizing: border-box;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0px;
    min-width: 40px;
    height: 100%;
    padding: 230px 0;
    overflow: hidden;
}

.num {
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 0 16px;
}

.option {
    color: #9d9d9d;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 0 rgba(0, 0, 0, 1) inset;
    position: relative;
    height: 40px;
    width: 20px;
    display: block;
    padding-left: 20px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.option span:nth-child(2) {
    position: absolute;
    padding: 0 56px 0 0;
    left: 50px;
}

.option:hover {
    color: #fff;
    box-shadow: -200px 0 rgba(0, 0, 0, 1) inset;
}


/*
    ==========================
    PINBOARD
    ==========================
*/

.pinboard-header {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px 50px;
    height: 100px;
}

.pinboard-header h2 {
    font: bold 20px 'Raleway', serif;
    color: #636869;
    position: relative;
    top: 25px;
    float: left;
    margin: 0;
}

.sort-by {
    font: bold 15px 'Raleway', serif;
    color: #B6C1C3;
    position: relative;
    top: 25px;
    height: 25px;
    float: right;
}

.sort-by span {
    margin-right: 50px;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.sort-by .videos {
    border: 2px solid #49CEC7;
    top: 3px;
}

.sort-by .images {
    border: 2px solid #E66E4C;
    top: 3px;
}

.sort-by .music {
    border: 2px solid #239FDB;
    top: 3px;
}

.pinboard-items {
    background-color: #EDEFF0;
    position: relative;
    min-height: 600px;
    padding: 30px;
}

.mi-contenedor-imagen, .mi-contenedor-video {
    margin: 10px;
    background-color: #000;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.mi-contenedor-imagen img {
    height: 300px;
}

.mi-contenedor-video video {
    margin-top: 70px;
    height: 169px;
}

.pinboard-items .fa-heart-o {
    font-size: 22px;
    color: #E64C65;
    position: absolute;
    top: 0;
    right: 19em;
    opacity: 0.2;
    height: 100%;
    width: 2.5em;
    background: #fff;
}

.menu li:hover {
    box-shadow: -21em 0 rgba(255, 255, 255, 0.2) inset;
    z-index: 100;
    color: #000;
}


/*****************************************tooltip*/

.tooltip {
    background-color: #fff;
    padding: 5px;
    position: absolute;
    left: -60px;
    height: 300px;
    top: 65px;
    width: 300px;
    color: white;
    border-radius: 10px;
    display: none;
    /*overflow: scroll;*/
}

.tooltip div:first-child {
    height: 38px;
    margin: 0;
    width: 100%;
}

.mensaje p {
    color: black;
    padding-left: 18px;
}

.mensaje {
    width: 268PX;
    display: block;
    height: 85px;
    margin: 5px;
    MARGIN-LEFT: 15PX;
    border-bottom: 1px solid black;
    position: relative;
}

.mensaje img {
    position: absolute;
    height: 81%;
    top: 7px;
    /* top: -11px; */
    width: 30%;
}

.mensaje h3 {
    position: absolute;
    color: black;
    font-size: 15px;
    height: 20%;
    top: 6%;
    padding-left: 8px;
    width: 70%;
    left: 30%;
}

.mensaje span {
    position: absolute;
    font-size: 15px;
    height: 20%;
    top: 49%;
    padding-left: 15px;
    left: 30%;
    color: black;
}

.tooltip:after {
    content: "";
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 50%;
    top: -20px;
}

.mostrar {
    display: block;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.pinboard-items .videos {
    position: absolute;
    border: 2px solid #49CEC7;
    top: 15px;
    right: 15px;
    cursor: default;
}

.pinboard-items .images {
    border: 2px solid #E66E4C;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: default;
}
